.container {
  .blog-page & {
    margin: 0;
    width: 940px;
    max-width: 100%;
    padding: 0 20px;
  }
}

.blog-page {
  .h3-subtitle {
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 15px;
    }
  }
  .blog-wrapper {
    justify-content: center;
  }

  .btn-wrapper {
    justify-content: flex-end;
    display: inline-flex;
    width: 100%;
    @include mobile {
      display: block;
    }
  }
  .btn-grey {
    @include Btn-round($blackText, $pink);
    margin-left: 20px;
    @include mobile {
     margin-bottom: 20px;
      margin-left: 0;
      min-width: 220px;
      display: block;
    }
  }
}
.favoris-sub-nav{
  .article-image {
    height: 50px;
    margin-bottom: 0;
    img {
      height: 100%;
    }
  }
}
.text-center {
  text-align: center;
}
.article-item {
  text-align: left;
  margin-bottom: auto;
  margin-top: 20px;
  a {
    color: $blackTitle;
    text-decoration: none;
  }
  &.third-block {
    margin-left: 0;
    margin-right: 20px;
    width: 31.9%;
    @include tablet {
      width: 31.3%;
      margin-right: 3%;
    }
    @include mobile {
      width: 100%;
      margin-right: 0;
    }
    &:nth-child(3n+2) {
      margin-right: 0;
      @include tablet {
        margin-right: 0;
      }
    }
  }
  img {
    max-width: 100%;
    height: 220px;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.article-image {
  height: 220px;
  margin-bottom: 15px;
  background: $blackText;
;
}

.zoom-image {
  overflow: hidden;
  img {
    transition: transform .3s;
    &:hover {
      transform: scale(1.15);
    }
  }
}

.article-title {
  font-size: 18px;
  @include PoppinsBold;
  color: $blackTitle;
  text-transform: uppercase;
  margin: 10px 0;
}

.article-desc {
  font-size: 14px;
  text-align: left;
  @include BitterRegular;
  color: $blackText;
  h3, h4 {
    font-size: 18px;
    @include PoppinsBold;
    color: $blackTitle;
    text-transform: uppercase;
    margin: 30px 0 20px;
  }

  p {
    margin-bottom: 2.4em;
  }
}

.popin {
  display: none;
  background: $pink;
  position: fixed;
  top: 30%;
  height: 280px;
  width: 460px;
  border-radius: 10px;
  border: 1px solid $blackText;
  padding: 14px 28px;
  z-index: 2;
  @include mobile {
    width: 70%;
    height: 350px;
    position: absolute;
    top: 30%;
  }
  .popin-open & {
    display: block;
  }
  .form-input {
    padding: 10px 0;
  }
  label {
    padding-right: 20px;
    color: $white;
    @include PoppinsSemiBold;
    width: 100px;
    display: inline-flex;
    padding-bottom: 7px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    @include mobile {
      display: block;
    }
  }
  input[type='text'], input[type='email'], textarea {
    background: #fff;
    border: 2px solid $pink;
    padding: 14px 10px;
    border-radius: 25px;
    color: $blackText;
    width: 300px;
    outline: none;
    &:focus, &:hover, &:active {
      border-radius: 25px;
      border: 2px solid $blackText;
    }
    @include mobile {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .btn-sharing {
    @include Btn-rectangle;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 14px;
  }
  .btn-close {
    @include Btn-rectangle;
    padding: 6px 9px;
    border: 1px solid;
    border-radius: 25px;
    position: absolute;
    top: 6px;
    right: 6px;
    @include PoppinsSemiBold
  }
}

.popin-open {
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 1;
  }
}

