/**Poppins fonts **/
@font-face {
  font-family: 'poppinsregular';
  src: url('./../fonts/Poppins/poppins-regular-webfont.woff2') format('woff2'),
  url('./../fonts/Poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsbold';
  src: url('./../fonts/Poppins/poppins-bold-webfont.woff2') format('woff2'),
  url('./../fonts/Poppins/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinslight';
  src: url('./../fonts/Poppins/poppins-light-webfont.woff2') format('woff2'),
  url('./../fonts/Poppins/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsmedium';
  src: url('./../fonts/Poppins/poppins-medium-webfont.woff2') format('woff2'),
  url('./../fonts/Poppins/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinssemibold';
  src: url('./../fonts/Poppins/poppins-semibold-webfont.woff2') format('woff2'),
  url('./../fonts/Poppins/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/**Bitter fonts**/
@font-face {
  font-family: 'bitterbold';
  src: url('./../fonts/Bitter/bitter-bold-webfont.woff2') format('woff2'),
  url('./../fonts/Bitter/bitter-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bitteritalic';
  src: url('./../fonts/Bitter/bitter-italic-webfont.woff2') format('woff2'),
  url('./../fonts/Bitter/bitter-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bitterregular';
  src: url('./../fonts/Bitter/bitter-regular-webfont.woff2') format('woff2'),
  url('./../fonts/Bitter/bitter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}